.primary-container {
  width: 60vw;
  height: 100vh;
  margin: auto;
  margin-top: 10px;
}

.card {
  padding: 5px !important;
}

.question {
  display: flex;
  justify-content: space-around;
}

.question-left {
  width: 50%;
  margin-right: 3px;
}

ul {
  list-style-type: none;
  padding: 0;
}